$big-font: 15rem;

.jumbo {
    color: #333;
    font-size: $big-font;
    margin: 0;
    text-shadow: 1px 2px 1px #DEDEDE, 2px 3px 0 #FEFEFE, -1px -1px 0 #222;
}

html {
    body {
        margin: 20px;
        padding: 0;
        background: 'white';
    }
}

.CardBox {
  width: 50%;
  display: inline-block;
}

.active {
    font-weight: bold;
    background: 'blue';
}

.scorecard {
  width: 50%;
  display: inline-block;
}

.scorecard.right {
  //margin-left: 20px;
}

.Component {
  text-align: center;
  background: #e6f0ff;
  padding:2px;
}

h3 {
  margin: 0px;
  background: #cce0ff;
  height: 40px;
  line-height: 40px;
}

p {
  margin: 0px;
}

.expense-form-container {
  width: 100%;
  margin-top: 10px;
}

.submit-btn {
  display: block;
  width: 34%;
  margin-left: 33%;
  margin-right: 33%;
  margin-top:2px;
  margin-bottom:2px;
}

.scorecard-score {
  margin-top: 4px;
}

.tools-btn {
  margin: 10px;
}

.transfer-to {
  width: 33%;
  display: inline-block;
  box-shadow: none;
}

.transfer-button-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.transfer-form {
  margin-bottom: 5px;
}
